<div>
    <table>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" ng-model="inputValue.ten"/></td>
           <td> <p ng-if="kiemTraDuLieu.ten == true" style="color: rgb(223, 92, 92);">Vui long nhap ho ten</p> </td>
        </tr>
        <tr>
            <td>Tuổi </td>
            <td><input type="text" ng-model="inputValue.tuoi"/></td>
            <td> <p ng-if="kiemTraDuLieu.tuoi == true" style="color: red;">Vui long nhap tuoi</p> </td>
        </tr>
        <label for="dateInput">Chọn ngày:</label>
  <input type="date" id="dateInput" value="{{ selectedDate | date:'yyyy-MM-dd' }}" ng-change="dateSelected()">
  <p>Bạn đã chọn ngày: {{ selectedDate | date:'dd/MM/yyyy' }}</p>
    </table>
    <button ng-click="onSubmitForm()">Tạo mới </button>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Tên</td>
            <td>Tuổi</td>
            <td>Hành động</td>
        </tr>
        <tr ng-repeat="ds in danhsach">
            <td>{{ ds.id }}</td>
            <td>{{ ds.ten }}</td>
            <td>{{ ds. tuoi}}</td>
            <td><button ng-click="onEdit(ds.id)">Sửa</button></td>
        </tr>
    </table>
</div>